#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  color: rgb(76, 160, 238);
  display: block;
}

button:hover{
    color: green;
}

h4, p{
  color: rgb(255, 255, 255);
  display: inline-flex;
  text-indent: 10px;
}